<footer class="footer pt-5">
  <div class="footer__lineafooter">
  </div>
  <div class="footer__paginas d-flex justify-content-between">
    <div class="footer__paginas__logo">
      OLÉ
    </div>
    <div class="footer__paginas__links d-flex">
      <h4>
        Inicio
      </h4>
      <h4>Ponentes</h4>
      <h4>Blog</h4>
      <h4>Tu receta</h4>
    </div>
    <div class="footer__paginas__socials d-flex">
      <i class="fa-brands fa-instagram" style="font-size: 32px;"></i>
      <i class="fa-brands fa-tiktok" style="font-size: 32px;"></i>
    </div>
  </div>
  <div class="footer__copyright d-flex justify-content-between">
    <img class="footer__copyright__img" src="/src/assets/images/logouoclight.png" alt="Logo universidad Oberta de Catalunya">
    <div class="footer__copyright__author d-flex">
      <small>Manuel Salvador Roldán</small>
      <small>|</small>
      <small>HTML y CSS II</small>
    </div>
  </div>
</footer>