<nav>
    <div>
        <a href="index.html" class="tituloweb">OLÉ</a>
    </div>
    <div>
        <button class="btn offcanvaslines" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"><svg width="60" height="40" viewBox="0 0 100 100">
                <line class="line line1" x1="20" y1="30" x2="80" y2="30" stroke="#000" stroke-width="4"
                    stroke-linecap="round" />
                <line class="line line2" x1="20" y1="50" x2="80" y2="50" stroke="#000" stroke-width="4"
                    stroke-linecap="round" />
                <line class="line line3" x1="20" y1="70" x2="80" y2="70" stroke="#000" stroke-width="4"
                    stroke-linecap="round" />
            </svg></button>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">MENÚ</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <a href="/src/index.html">Home</a>
            <a href="/src/ponentes.html">Ponentes</a>
            <a href="/src/entrada.html">Entrada</a>
            <a href="/src/formulario.html">Crea tu receta</a>
        </div>
    </div>
    </div>
</nav>