@import "settings";

@layer objects, components, utilities;

/** #MENU OFFCAVNAS **/

@layer objects{
  .tituloweb{
  margin-top:10px;
  font-size:3.5vw;
  line-height:1.25;
  transition: all 0.5s ease;

    @include media-breakpoint-down(md) { 
    font-size:7vw;
    }

  }


  .animationlogo{
    font-size:20vw;
  }



  .offcanvaslines{
   background: none;
   border: none;
    cursor: pointer;
    padding: 0;
  }

  .offcanvas{
    background-color: $primary;

    @include media-breakpoint-down(md) {
        width: 100% !important;
      }

  } 

  .offcanvas-body a{
    display: block;
  }
}




/** #PORTADAGRID **/
@layer components{
@supports(display:grid) {
  .gridportada {
    width: 100%;
    height: 100vh;
    display: grid;
    container-type: inline-size;
    grid-template-columns: repeat(2, 45%) 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

  

    &__box1 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;

      @container (max-width: 1024px) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
      }
    }

    &__box2 {
      grid-column: 1 / 2;
      grid-row: 2 / -1;
      display: flex;
      align-items: end;
      padding-bottom: 5%;

      /* stylelint-disable-next-line selector-nested-pattern */
      h1 {
        font-size: 1.7vw;
      }

      @container (max-width: 1024px) {
        grid-column: 1 / -1;
        grid-row: 4 / -1;
        width: 100vw;

        h1 {
          font-size: 4.7vw;
        }
      }
    }

    &__box3 {
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      display: flex;
      align-items: end;
      transform: scale(1.05) translateX(-30px);

      @container (max-width: 1024px) {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        transform: translateX(40px);

        .carousel {
          width: 100vw;
        }

        .carousel-indicators {
          top: -20;
          right: -40;
          justify-content: center;
        }
      }
    }

    &__box4 {
      grid-column: 3 / -1;
      grid-row: 2 / -1;
      width: 100%;
      margin-bottom: 16%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      font-size: 76px;

      &__date {
        font-family: $font-family-regular;
        line-height: 1.4;
      }

      /* YA LO TENÃAS EN CONTAINER, LO MANTENGO IGUAL */
      @container (min-width: 769px) {
        &__date {
          font-size: 6cqw;
        }
      }

      @container (max-width: 768px) {
        &__date {
          font-size: 14cqw;
        }
      }

      @container (max-width: 1024px) {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        justify-content: start;
      }
    }
  }
}

@supports not (display: grid) {
  .gridportada {
    display: flex;
    align-items: center;
    /* stylelint-disable-next-line selector-nested-pattern */
    > div {
      display: flex;
      flex-direction: column;
    }
  }
}

}

@media (max-width: 1024px) {
  .gridportada {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 40% 20%;
  }
}

/** #BOOTSTRAP **/
//#carousel
@layer objects{
.carousel-indicators {
  top:50;
  right:0;
  justify-content: end;
}

.carousel-indicators [data-bs-target] {
  border-radius:20px;
}

/* #LIST */
.list-group-item {
  background-color:transparent;
  font-family: $font-family-regular;
}

}

/** #CONTENEDORPONENTES **/
@layer components{
.contenedorponentes{
    display:flex;
    align-items:start;
    container-type: inline-size;

    &__leftcolumn{
        flex: 0 0 74%;
        gap:30px;
        width:100%;
        display:flex;
        flex-wrap:wrap;

        @container(max-width: 1024px){
          flex: 0 0 65%;
        }

        &__ponentetarjeta{
            padding-top:2.5%;
            width:95%;
            flex: 0 0 calc((100% / 3) - 30px);
            position:relative;
            display: flex;
            flex-direction:column;
            gap: 15px;

            &__imagen{
              width:220px;
              height:220px;
              margin-bottom:10px;
            }
            /* stylelint-disable-next-line selector-nested-pattern */
            .tag{
              position:absolute;
              top: 2rem;
              left:0;
            }
        }

    }

    &__rightcolumn{
        flex: 0 0 26%;
        position:relative;

        @container(max-width: 1024px){
          flex: 0 0 35%;
          display:flex;
          gap:100px;
          flex-direction:column;
          justify-content:space-between;
          transform: translateX(-30px);
        }
    }

}





/** #GRIDENTRADA **/
.gridentrada{
  display:grid;
  height:100vh;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 90% 10%;
  align-items:center;
  container-type: inline-size;

  @include media-breakpoint-down(md) {
    height:auto;
   }

  &__box1{
    position:relative;
    grid-column: 1/2;
    grid-row:1/2;

    /* stylelint-disable-next-line selector-nested-pattern */
    .tag{
      right:20px;
      top:5px
    }
    
    &__card{
      display:flex;
      flex-direction: column;
      gap:30px;
    }
  }

  &__box2{
    grid-column:3/-1;
    grid-row:1/-1;
    transform:translateX(50%);
  }
  
  &__box3{
    grid-column: 1/-1;
    grid-row: 2/-1;
  }

  @container(max-width:1024px){
        &__box1{
          grid-column: 1/3;

        }

        &__box2{
          grid-column: 2/-1;
        }
  }

  @container(max-width:769px){
        &__box1{
          grid-column: 1/-1;
          grid-row:1/2;
          padding: 20cqw 0;

        }
        
        .tag{
          top:20cqw;
        }

        &__box2{
          display:none;
        }
  }
}
}



/* #ENTRADA */
@layer objects{
  .entrada{
    padding: 3rem 6rem;

    @include media-breakpoint-down(md){
      padding: 2rem 0;
    }
  }

  .entrada:has(blockquote) {
    /* stylelint-disable-next-line selector-nested-pattern */
    .blockquote{
      padding:5rem;
      line-height:1.3;

      @include media-breakpoint-down(md){
        padding:2.5rem;
      }
    }
  }

    /* stylelint-disable-next-line selector-nested-pattern */
    figcaption{
      padding-top:1.5%;
      font-family: $font-family-light;
    }
  }

  .entrada :is(h2, h3) {
    border-left: 2px solid $secondary;
    padding-left: .75rem;
    margin-top: 2rem;
}




/** #SCROLLING TEXT **/
@layer compoentents{
  .scrollingtext{
      display: flex;
      flex-direction: column;
      justify-content: flex-end; 
      min-height: 0;

    &__wrappertexto{
        width: 100%;
        overflow: hidden;
        padding-bottom:5%;

        @media (max-width: 1024px) {
            padding-bottom:2%;
        }

        &__elemento{
            display:inline-block;
            white-space: nowrap;
            margin: 0% 1%;
        }
        
        &__tracker {
            display: inline-flex;
            align-items: center;
            white-space: nowrap;
        }
    }
  }
}



/* #FORMRECETA */
@layer components{
  .formreceta{
    container-type: inline-size;
    min-height: 100dvh;

    &__input{
      width: 100%;
      margin-top: 0.5rem;
      padding: 0.5rem;
      display:block;
      background-color: transparent;
      border: 0.5px solid $secondary;
      border-radius:15px;
    }

    &__tag{
      width:10cqw;
      background-color: color(display-p3 0.68 0.32 0.00);
      color:$primary;
      border-radius:25px;
      text-align:center;
    }
    
    /* stylelint-disable-next-line selector-nested-pattern */
    .btn-dark{
      background-color: color(display-p3 0.68 0.32 0.00)!important;
    }
  }
}



